body {
  margin: 0;
}

.x-main {
  display: flex;

  .x-main-left {
    min-height: 100vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    .x-menu-left {
      flex: 1;
      display: flex;
    }
  }

  .x-main-right {
    flex: 1;
    display: flex;
    flex-direction: column;

    .x-content-area {
      flex: 1;
      display: flex;

      .x-content {
        flex: 1;
      }
    }
  }
}

.my {
  .box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
